<%- model_class = Order -%>
  <div class="page-header">
    <h1>ORDER</h1>
  </div>
    <dl class="dl-horizontal">
      <dt><strong>Order No:</strong></dt>
      <dd><%= @order.id %></dd>
      <dt><strong>Order Date:</strong></dt>
      <dd><%= @order.created_at %></dd>
    </dl>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Style Name</th>
          <th>Size</th>
          <th>Color</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.sold_products.each_with_index do |sold_product, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= sold_product.product.style_number %></td>
            <td><%= sold_product.color.name %></td>
            <td><%= sold_product.size.name %></td>
            <td><%= sold_product.price %></td>
            <td><%= sold_product.quantity %></td>
            <td><%= number_to_currency sold_product.total_price %></td>
          </tr>
        <% end %>
        <tr class="warning">
          <td colspan="3" />
          <td>Total</td>
          <td><%= number_to_currency @order.total_price %></td>
        </tr>
      </tbody>
    </table>


<%= link_to "edit", edit_order_for_path(@order), :class => 'btn btn-primary' %>

<%= link_to "PDF",
  order_for_path(@order, format: "pdf"),:class => 'btn btn-primary' %>

