<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
       <br>
    </div>
    <%= form_for current_retailer do |f| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= f.text_field :company_name, placeholder: "company name" %></h3>
          </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <%= f.file_field :avatar, class: "form-control floating-label", placeholder: "upload image" %> </div>

               <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                        <tr>
                          <td>User Name:</td>
                          <td><%= f.text_field :user_name, placeholder: "user name" %></td>
                        </tr>
                        <tr>
                          <td>Adress</td>
                          <td><%= f.text_field :company_address, placeholder: "company address" %></td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td><%= f.text_field :country, placeholder: "country" %></td>
                        </tr>

                        <tr>
                          <td>Phone Number</td>
                          <td><%= f.text_field :phone_number, placeholder: "phone number" %></td>
                        </tr>
                        <tr>
                          <td>Item Type</td>
                          <td><%= f.text_field :item_type, placeholder: "item type" %></td>
                        </tr>
                        <td>Email</td>
                          <td><%= f.email_field :email, placeholder: "email" %></td>
                        </tr>
                    </tbody>
                  </table>
                    <div class="profile_edit">
                      <%= f.submit "send", class: "btn btn-warning btn-ghost" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
