<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
       <br>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @retailer.company_name %></h3>
          </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img src="<%= @retailer.avatar.url(:medium) %>" class="img-circle img-responsive" alt=""> </div>

               <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                        <tr>
                          <td>User Name:</td>
                          <td><%= @retailer.user_name %></td>
                        </tr>
                        <tr>
                          <td>Adress</td>
                          <td><%= @retailer.company_address %></td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td><%= @retailer.country %></td>
                        </tr>

                        <tr>
                          <td>Phone Number</td>
                          <td><%= @retailer.phone_number %></td>
                        </tr>
                        <tr>
                          <td>Item Type</td>
                          <td><%= @retailer.item_type %></td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><%= @retailer.email %></td>
                        </tr>
                    </tbody>
                  </table>
                  <% if current_retailer.id == @retailer.id %>
                    <div class="profile_edit">
                      <%= link_to "profile edit", edit_retailer_path(current_retailer), {:class => "btn btn-warning btn-ghost" } %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>