<div class="row form">
  <div class="col-lg-12">
<%= form_for current_brand do |f| %>

<h2>register info</h2>
<div class="form-group">
  <div class="col-lg-6">
   <%= f.text_field :company_name, placeholder: "company name" %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
   <%= f.text_field :company_address, placeholder: "company address" %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
   <%= f.text_field :country, placeholder: "country" %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
   <%= f.text_field :user_name, placeholder: "user name" %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
   <%= f.text_field :phone_number, placeholder: "phone number" %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
   <%= f.text_field :item_type, placeholder: "item type" %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
   <%= f.email_field :email, placeholder: "email" %>
  </div>
</div>
<div class="form-group">
  <%= f.submit "送信", class: "btn btn-primary withripple" %>
</div>

<% end %>
  </div>
  </div>