  <div class="image" style="background-image: url(<%= @brand.avatar.url(:medium) %>);"></div>
  


  <h2><%= @brand.user_name %><span><%= @brand.company_name %></span><span><%= @brand.company_address %></span><span><%= @brand.country %></span><span><%= @brand.user_name %></span><span><%= @brand.phone_number %></span><span><%= @brand.item_type %></span></h2>



  <% if current_brand.id == @brand.id %>
      <div class="profile_edit">
        <%= link_to "profile edit", edit_brand_path(current_brand), {:class => "btn btn-primary withripple" }%>
      </div>

      <div class="post_products">
        <%= link_to "post product", new_brand_product_path(current_brand), {:class => "btn btn-primary withripple" }%>
      </div>

       <div class="product">
        <%= link_to "product", brand_products_path(current_brand), {:class => "btn btn-primary withripple" }%>
      </div>
  <% end %>