
<div class="container">
  <div class="row">
    <div class="col-md-8  toppad  pull-right col-md-offset-5 ">
    <br>
    </div>
    <br>
      <%= form_for (@form) do |f| %>
        <div class="row">
          <b>add your products</b>
            <%= f.fields_for :products do |builder| %>
              <%= render partial: "product_fields", locals: {f: builder} %>
            <% end %>
            <br>
          <div class="text-right">
            <%= link_to_add_field "add product", f, :products %>
          </div>
        <%= f.submit "confirm", class: "btn btn-primary withripple" %>
        </div>
      <% end %>
   </div>
</div>