<div class="container">
  <div class="row">
  <br>
    <fieldset>
      <%= f.text_field :style_number, placeholder: "style number" %>
      <%= f.text_field :price, placeholder: "price" %>
      <%= f.collection_select(:size_id, @sizes, :id, :name) %>
      <%= f.collection_select(:color_id, @colors, :id, :name) %>
      <%= f.text_field :fabric, placeholder: "fabric" %>
      <%= link_to "remove", '#', class: "remove_fields" %>
      <%= f.file_field :image %>
      <%= f.hidden_field :brand_id, :value => @brand.id %>
      <%= f.hidden_field :_destroy %>
    </fieldset>
  </div>
</div>