<!DOCTYPE html>
<html>
<head>
  <title>Order</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<li>servise</li>
  <li>account</li>
<li class="entry_button" style="float: right">
                  <%= link_to 'sign out', "/users/sign_out", method: :delete %>
                </li>

  </header>


<%= yield %>
<footer class='row text-center'>
        <p>(C) Order 2015</p>
      </footer>
</body>

</html>
